.menu{
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
    background-color: #4CAF50;
}

.child{
    display: none;
    position: absolute;
    background-color: #0067c6;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 12px 16px;
}

.child a:hover{
    background-color: #50fbff;
}

.menu:hover .child{
    display: block;
}