.center{
    margin: auto;
    width: 70%;
    background-color: #50fbff;
}

.right{
    position: absolute;
    right: 15%;
    width: 70%;
    background-color: #50fbff;
}

.right_float{
    margin-top: 100px;
    float: right;
    width: 70%;
    background-color: #50fbff;
}